<!DOCTYPE html>
<html lang="en">
<head>
    <title>Página Inicial</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/principal.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<header class="header">
    <div class="brand">Nelsys Solutions</div>
    <div class="nav-buttons">
        <a href="/login" class="btn btn-primary">Login</a>
        <a href="/subscribe" class="btn btn-secondary">Cadastro</a>
    </div>
</header>

<div>
    <img src="/images/banner.jpeg" class="banner" alt="Banner">
</div>
<div class="circuit"></div>
</body>
</html>
